.button-container{
    -fx-padding: 5, 5, 5, 5;
    -fx-spacing: 5;
}

.button-container > .button {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: linear-gradient(#E6E8FA, #DADAD1),
    radial-gradient(center 50% -40%, radius 200%, #DBE4D3 45%, #D0D0CA 50%);
    -fx-background-radius: 6, 6;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
}

.button-container > .button:hover {
    -fx-background-color:
            linear-gradient(#E6E8FA, #DADAD1),
            #4E78A0,
            #9FABB7,
            radial-gradient(center 50% 50%, radius 100%, #c9d6ce, #dfe9de);
}

#penColor {
    -fx-background-image: url(images/penColor.png);
    -fx-background-size: 20px 20px;
    -fx-cell-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-color-label-visible: false;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

#penColor > .color-picker-label > .picker-color > .picker-color-rect {
    -fx-stroke: null;
    -fx-fill: null;
}

#backgroundColor {
    -fx-background-image: url(images/backgroundColor.png);
    -fx-background-size: 20px 20px;
    -fx-cell-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-color-label-visible: false;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

#backgroundColor > .color-picker-label > .picker-color > .picker-color-rect {
    -fx-stroke: null;
    -fx-fill: null;
}

.list-cell{
    -fx-font-family: "Courier";
    -fx-font-size: 12.0;
}

.list-view .placeholder{
    -fx-font-family: "Courier";
    -fx-font-size: 12.0;
}

.close-button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0, 0;
    -fx-background-color: transparent;
    -fx-font-size: 0px;
    -fx-graphic-text-gap: 0px;
}

#buttonHandler{
    -fx-background-color: rgb(210,210,210);
    -fx-border-color: rgb(186, 186, 186);
}

#module{
    -fx-border-color:#D4DEE9;
}

#module:hover{
    -fx-border-color:#4E78A0;
}

#module:focused{
    -fx-border-color:#4E78A0;
}

#toolbar{
    -fx-background-color: #D4DEE9;
    -fx-font-family: "Courier";
    -fx-font-size: 12;
}

.turtle-shadow {
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

.console-red{
    -fx-text-inner-color: red;
}

.console-black{
    -fx-text-inner-color: black;
}

.console-blue{
    -fx-text-inner-color: blue;
}
